body{
  background: url("./images/bgimg.png");
}

/* navbar section  */

#nav{
  background:transparent;
  color: blue;
  backdrop-filter: blur(10px);
}

/* home page  */

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  position: relative;
  top: 10rem;
  font-family: sans-serif;
}

.home-text > h1{
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: justify;
}

.home-text > p {
  color: rgba(0, 0, 0, 0.541);
}

/* CSS */
.button-29 {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.spanhome{
  letter-spacing: .2rem;
  color: blue;
}

.nav-link, .nev-item{
  color: #fff;
}

/* home cards  */



.cardds{
  margin-top: 5rem;
}

.cardd{
  background: rgba(255, 255, 255, 0.534);
  margin: 2.5rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid #000;
  border-radius: 100%;
  padding: 1rem;
}

/* error page  */
#err{
  display: flex;
  justify-content: center;
  align-items: center;
}

#err{
  position: relative;
  font-weight: 900;
  color: rgba(155, 155, 155, 0.671);
  top: 10rem;
}

#err > h1{
  font-size: 10rem;
  color: rgba(255, 0, 0, 0.315);
}

#err > h4{
  position: absolute;
  color: #656565;
  top: 12rem;
}

#err > .bt {
  position: absolute;
  top: 15rem;
  text-transform: uppercase;
}

/* movies  */

.moviecard{
  width: 60%;
  margin-left: 20%;
  margin-top: 5rem;
}

.im{
  border-radius: 10px;
  height: 50vh;
}

.mtable{
  text-align: center;
}

.minput-txt {
  display: inline-block;
  margin-top: 2rem;
  width: 52%;
  margin-left: 20%;
}

.minput-btn {
  display: inline-block;
  margin-left: 1%;
  width: 4.5rem;
}

#mtitle{
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1rem;
    font-size: 2rem;
}

#mno-border{
    border: none;
    box-shadow: none;
}

.mtd{
    border: 1px solid #FF5151;
    padding: 5px;
    color: #100068;
}

.mcontain{
    position: relative;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.mp{
    color: #F05454;
    text-align: center;
}

.mcontent{
    text-align: center;
    line-height: 2;
    width: 90%;
    font-weight: 600;
    font-family: arial;
    z-index: 1;
    color: #0A1931
}

#mabout{
    width: 70%;
    position: relative;
    text-align: center;
    left: 15%;
}

.mdt{
    font-size: x-large;
}

.mspan{
    border-bottom: 2px solid;
    color: #100068;
    font-weight: 900;
}

