body{
  background: url("./images/bgimg.png");
}

/* navbar section  */

#nav{
  background:transparent;
  color: blue;
  backdrop-filter: blur(10px);
}

.nav-link{
  font-weight: 500;
  color: #0A1931;
}
/* home page  */

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  position: relative;
  top: 10rem;
  font-family: sans-serif;
}

.home-text > h1{
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: justify;
}

.home-text > p {
  color: rgba(0, 0, 0, 0.541);
}

/* CSS */
.button-29 {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.spanhome{
  letter-spacing: .2rem;
  color: blue;
}

.nav-link, .nev-item{
  color: #fff;
}

/* home cards  */

.cardds{
  margin-top: 5rem;
}

.cardd{
  background: rgba(255, 255, 255, 0.534);
  cursor:pointer;
  margin: 15px;
  width: 5rem;
  height: 5rem;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 100%;
  box-shadow: 2px 5px 10px #0A1931;
  padding: 1rem;
}

.cardd:hover{
  transform: translateX(-10px);
}
/* error page  */
#err{
  display: flex;
  justify-content: center;
  align-items: center;
}

#err{
  position: relative;
  font-weight: 900;
  color: rgba(155, 155, 155, 0.671);
  top: 10rem;
}

#err > h1{
  font-size: 10rem;
  color: rgba(255, 0, 0, 0.315);
}

#err > h4{
  position: absolute;
  color: #656565;
  top: 12rem;
}

#err > .bt {
  position: absolute;
  top: 15rem;
  text-transform: uppercase;
}

/* movies  */

.moviecard{
  width: 70%;
  margin-left: 15%;
  margin-top: 5rem;
}

.im{
  border-radius: 10px;
}

.mtable{
  text-align: center;
}

#mtitle{
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1rem;
    font-size: 2rem;
}

#mno-border{
    border: none;
    box-shadow: none;
}

.mtd{
    padding: 5px;
    color: #100068;
}

.mcontain{
    position: relative;
    background: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(10px);
    width: 80%;
    margin: 2% 10%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.521);
    border-radius: 15px;
}

.mp{
    color: #F05454;
    text-align: center;
}

.mcontent{
    text-align:justify;
    line-height: 2;
    width: 90%;
    font-weight: 600;
    font-family: arial;
    z-index: 1;
    color: #0A1931
}

#mabout{
    width: 70%;
    position: relative;
    text-align: justify;
}

.mdt{
    font-size: x-large;
}

.mspan{
    border-bottom: 2px solid;
    color: #100068;
    font-weight: 900;
}

/* anime page  */

.animeimg{
  height: 35rem;
  margin: 0% 0 5% 0%;
  border-radius: 10%;
  box-shadow: 0 5px 15px #000;
}

.animeinput{
  margin: 10% .5% auto 8%;
  width: 70%;
  display: inline-block;
}

.animebutton{
  width: 5%;
}

/* wiki page */

.topmargin{
  margin-top: 4rem;
}

/* search bar  */

.form-wrapper {
background-color: #f6f6f6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
background-image: linear-gradient(top, #f6f6f6, #eae8e8);
border-color: #dedede #bababa #aaa #bababa;
border-style: solid;
border-width: 1px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
-moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
margin: 100px auto;
overflow: hidden;
padding: 8px;
width: 450px;
}

.form-wrapper #search {
border: 1px solid #CCC;
-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
  color: #999;
float: left;
font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
height: 40px;
padding: 10px;
width: 320px;
}

.form-wrapper #search:focus {
border-color: #aaa;
-webkit-box-shadow: 0 1px 1px #bbb inset;
-moz-box-shadow: 0 1px 1px #bbb inset;
box-shadow: 0 1px 1px #bbb inset;
outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
color: #999;
font-weight: normal;
}

.form-wrapper #submit {
background-color: #0483a0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
background-image: linear-gradient(top, #31b2c3, #0483a0);
border: 1px solid #00748f;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
color: #fafafa;
cursor: pointer;
height: 42px;
float: right;
font: 15px Arial, Helvetica;
padding: 0;
text-transform: uppercase;
text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
width: 100px;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
background-color: #31b2c3;
background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
border: 0;
}

.weathertext{
  margin: 5% 10%;
  width: 80%;
  background: #ffffff77;
  backdrop-filter: blur(20px);
  padding: 2% 20%;
  font-size: 2em;
  border: 1px solid #fff;
  border-radius: 5rem;
  text-align: justify;
}

.weathertext h1, h2{
  font-weight: 900;
}

